p#porcent{
    color: white;
    text-align:center;
}

div.value_discount{
    width: 65px;
    height: 35px;
    background-color: #fe3435;
    top: 4px;
    left: 200px;
}

#p01, #p02{
    display: none;
}